body {
    background: black !important;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

body#home {
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

rect#designlink1:hover {
    fill: black;
    stroke: white;
}

section#desn {
    align-self: center;
}

body#about {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

p,
h1,
h2 {
    color: white;
    font-family: "Josefin Sans Light";
    text-align: center;
}

h2 {
    font-size: 3em;
}

body#design h1 {
    font-size: 4em;
}

section#title h1 {
    padding: .2em 0 1em 0;
    margin: 0;
}

a {
    color: white;
    text-decoration: none;
}

nav {
    pointer-events: none;
}

nav img {
    pointer-events: auto;
}

img#me {
    padding: 1em 0;
    width: 50%;
    align-self: center;
}

div#lightgallery img {
    width: 300px;
    height: auto;
}

div#lightgallery img:hover {
    cursor: pointer;
}

h1#gal {
    font-size: 3em;
}

div#lightgallery {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-content: center;
    row-gap: 1em;
    column-gap: 2em;
}

.itemCol1 {
    grid-column: 1;
}

.itemCol2 {
    grid-column: 1;
}

.itemCol2 {
    grid-column: 2;
}

.itemRow2 {
    grid-row: 2;
}

nav a {
    width: 100%;
    padding-top: 1em;
}

section#logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

section#logo img {
    width: 25%;
    padding-bottom: 0;
    margin-bottom: 0;
    padding-right: 5em;
}

nav {
    display: flex;
    justify-content: flex-start;
}

nav img {
    width: 5%;
}

section#title h1 {
    font-size: 75px;
}

section#links p {
    font-size: 40px;
}

section#words {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    text-align: left;
}

section#words h1 {
    font-size: 4em;
    margin-top: 0;
    margin-bottom: 0;
}

section#words p {
    font-size: 2em;
    align-self: flex-start;
    padding-left: 2em;
    padding-right: 2em;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
}

section#subwords {
    width: 65%;
    align-self: center;
}

img#ig {
    width: 3%;
}

img#gh {
    width: 12%;
}

img#tik {
    width: 4%;
    padding-top: 1em;
}

footer {
    display: block;
    width: 100%;
    align-self: center;
    text-align: center;
}

.header .lead {
    max-width: 620px;
}

.gallery-item {
    width: 200px;
    padding: 5px;
}

.gallery-container {
    width: 500px;
    height: 500px;
    margin: 0 auto;
}

@media (min-width:320px) {
    /* smartphones, iPhone, portrait 480x320 phones */
}

@media (min-width:481px) {
    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
}

@media (min-width:641px) {}

@media (min-width:961px) {}